PORT=8789
INDEXER_HOST=0.0.0.0
INDEXER_DATA_DIR=./data
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443
STELLAR_RPC_FALLBACK_URLS=https://soroban-rpc.testnet.stellar.gateway.fm,https://rpc.ankr.com/stellar_testnet_soroban
# Defaults below match apps/web/public/deployment.json (optional if that file is deployed)
INDEXER_POOL_ID=CBU6QJ7H2LH2IFZUNTPVBH6637JXOADXVIZTGOLIFGKJREAB6R2AY7D4
INDEXER_DEPLOY_LEDGER=3138857
INDEXER_POLL_MS=60000
